
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.#*
*.~pas
inc
CVS
*~*
*$*
*.local
*.dcu
*.dti
*.cbk
*.identcache
*.dsk
*.map
*.maparch
*.drc
*.dproj
*.orig
*.res
*.groupproj
dunit.ini
Project2.res
Project2.identcache
Project2.exe