
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
#*.obj
#*.exe
#*.pdb
#*.user
#*.aps
#*.pch
#*.vspscc
#*_i.c
#*_p.c
#*.ncb
#*.suo
#*.tlb
#*.tlh
#*.bak
#*.cache
#*.ilk
#*.log
#[Bb]in
#[Dd]ebug*/
#*.lib
#*.sbr
#obj/
#[Rr]elease*/
#_ReSharper*/
#[Tt]est[Rr]esult*
#.#*
#*.~pas
#inc
#CVS
*~*
*$*
*.local
#*.dcu
#*.dti
#*.cbk
*.identcache
*.dsk
*.map
#*.maparch
#*.drc
*.dproj
*.orig
*.res
*.groupproj
#dunit.ini
*.local
*.exe
Project2.exe
Project2.dproj.local
Project2.identcache
Project2.res
Project2.dproj.local
Migracja/bin/Debug/WindowsApplication.exe.config
Migracja/bin/Debug/WindowsApplication.vshost.exe.config
Migracja/bin/Debug/WindowsApplication.vshost.exe.manifest
Migracja/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Migracja/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Migracja/obj/x86/Debug/Ras2Vec.csproj.FileListAbsolute.txt
Migracja/Ras2Vec.csproj
Migracja/bin/Debug/WindowsApplication.pdb
Migracja/obj/x86/Debug/Ras2Vec.csproj.GenerateResource.Cache
Migracja/obj/x86/Debug/Ras2Vec.csprojResolveAssemblyReference.cache
Migracja/obj/x86/Debug/Ras2Vec.MainWindow.resources
Migracja/obj/x86/Debug/Ras2Vec.Ras2Vec.Ras2Vec.Properties.Resources.resources
Migracja/obj/x86/Debug/WindowsApplication.pdb
Migracja/Ras2Vec.v11.suo
*.cache
*.manifest
*.Cache
Migracja/_ReSharper.Migracja/*